{% extends 'base.html' %}
{% load static %}
{% block title %}
   PAN
{% endblock title %}
{% block content %}
<br>
<br>
<br>
    <form id="pan-verification-form" align="center">
        <h2>Permanent Account Number Verification</h2>
       <div> 
            <label for="pan_number">Enter PAN Number:</label>
            <input type="text" id="pan_number" name="pan_number" onInput="validatePAN()">
            <button type="submit">Submit</button>
        </div>   
       <div>
        <span id="pan_error" class="pan_error"></span>
       </div>
    </form>

    <script>
        function validatePAN() {
            var pan = document.getElementById('pan_number').value;
            var pan_error = document.getElementById('pan_error');
      
            var panPattern = /^([A-Z]{5})([0-9]{4})[A-Z]{1}$/.test(pan);
            let message = "";
  
          if (!panPattern) 
              {
                  message += "Enter a valid PAN number.<br>";
              }
         
              pan_error.innerHTML = message;
  
          if (panPattern) 
              {
                pan_error.style.color = "green";
                pan_error.textContent = "PAN is valid!";
              } 
          else 
              {
                pan_error.style.color = "red";
              }
        }
    </script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}
